#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

}

form {
  display: flex;
  flex-direction: column;
  flex: auto;
  padding: 2px 16px;
}

section {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px
}

